/* #region===== 全站基本 ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MyFont';
  font-weight: 400;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: 'MyFont';
  src: url('fonts/KozGoPr6NRegular.otf');
}

html {
  scroll-behavior: smooth;
}

/* #endregion */
/* #region===== Layout ===== */
.layout {
  min-height: 400vh;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ===== Header ===== */
.header {
  padding: 36px 20px;
  text-align: center;
}

/* ===== Main ===== */
.main {
  flex: 1;
  padding: 24px 180px;
}

/* ===== Menu Icon ===== */
.menu-icon {
  position: fixed;
  top: 30px;
  left: 24px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}

.menu-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* ===== Side Menu ===== */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #343C55;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;

  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.side-menu.active {
  left: 0;
  z-index: 8000;
  opacity: 1;
  pointer-events: auto;
}

.side-menu ul {
  list-style: none;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 16px 80px;
}

.side-menu a:hover {
  color: #E83928;
}

/* ===== Overlay ===== */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.502);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  z-index: -2;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 7999;
}

/* #endregion*/
/* #region===== 上下滑動結構 ===== */
.upDownGroup {
  position: relative;
  height: 400vh;
  z-index: 1;
   isolation: isolate; 
}

.upDownBg {
  position: sticky;
  top: 0;
  height: 100vh;

  z-index: 2;
}
.upDownContent {
  position: relative;
  z-index: 3;
  margin-top: -100vh;

  transform: translateY(0);
  transition: transform 0.5s ease;
}

.upDownContent.hide {
  transform: translateY(200%);
}

.upDownPanel {
  height: 100vh;
}
.final-fixed {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 20;
  background: black;
}.bg {
  position: absolute;
  inset: 0;
}

.bg.A {
  z-index: 2;
  background: red; /* A畫面 */
}

.bg.B {
  z-index: 1;
  background: blue; /* B畫面 */
}

.bg.A.hide {
  opacity: 0;
}
/* #endregion*/
#works {
  position: relative;
  overflow: hidden;
}
#about {
  position: relative;
  overflow: hidden;
}

/* #region===== Visit ===== */
#visit {
  position: relative;
  overflow: hidden;
}

/* 背景影片 */
.video-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background-color: #FFF;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

/* 影片切換 */
.video-desktop {
  display: block;
}

.video-mobile {
  display: none;
}

#visit .header,
#visit .main,
#visit .footer {
  position: relative;
  z-index: 1;
}

/* Layout */
.visit-layout {
  display: flex;
  gap: 40px;
  height: 100%;
  padding: 0 0 20px 0;
}

.visit-layout h1 {
  font-size: 40px;
  color: #343C55;
  font-weight: 700;

}

/* 左半 */
.visit-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 標題 */
.visit-title {
  display: flex;
  flex-direction: column;
}

/* 按鈕 */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 右半 */
.visit-right {
  flex: 1;
  display: flex;
}

/* PDF */
.pdf-box {
  width: 100%;
  height: 100%;

}

.pdf-box iframe {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

/* #endregion*/
/* #region按鈕樣式 */
.arrow-btn {
  width: 200px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #E83928;
  color: white;
  font-size: 14px;

  gap: 10px;
  border: none;
  border-radius: 46px;

  cursor: pointer;
  transition: 0.3s;
}

.arrow-btn:hover {
  background: #c92f20;
}

.arrow {
  transition: transform 0.3s;
}

.arrow-btn:hover .arrow {
  transform: translateX(6px);
}

/* #endregion */
/* #region===== Shop ===== */
#shop {
  position: relative;
  overflow: hidden;
}

.shop-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
  background-color: #000000;
}

.shop-bg img {
  width: 100%;
  height: 100%;
  /*mix-blend-mode: overlay ;*/
  /*opacity:0.8;
  filter: blur(0px);
  transform: scale(1.05); /* 防止邊緣露出 */
}

.shop-bg::after {
  content: "";
  position: absolute;
  inset: 0;

  /*background: rgba(0, 0, 0, 1); /* ← 半透明色 */
  mix-blend-mode: saturation;
  z-index: 1;
}

.shop-words {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}

/* 每個字 */
.shop-words .w {
  position: absolute;
  font-size: 14px;
  letter-spacing: 0.2em;
  opacity: 0.25;
  /**/

  color: #121212;
  /* #E83928; 黑色版 */

}

.w1 {
  top: 10%;
  left: 8%;
}

.w2 {
  top: 20%;
  left: 70%;
}

.w3 {
  top: 35%;
  left: 15%;
}

.w4 {
  top: 50%;
  left: 60%;
}

.w5 {
  top: 65%;
  left: 20%;
}

.w6 {
  top: 75%;
  left: 75%;
}

.w7 {
  top: 15%;
  left: 40%;
}

.w8 {
  top: 40%;
  left: 80%;
}

.w9 {
  top: 70%;
  left: 45%;
}

.w10 {
  top: 85%;
  left: 10%;
}

.w11 {
  top: 5%;
  left: 55%;
}

.w12 {
  top: 60%;
  left: 5%;
}

.shop-corner-text {
  position: absolute;
  z-index: 4;

  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.02em;

  color: #00000087;
  /*color:#000000;*/
  opacity: 0.85;

  max-width: 300px;

  pointer-events: none;
}

.top-right {
  top: -10px;
  right: 40px;
  text-align: right;
}

.bottom-left {
  bottom: -10px;
  left: 40px;
  text-align: left;
}


.shop-visual {
  position: absolute;
  inset: 0;
  z-index: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.shop-visual img {
  width: 30vw;
  min-width: 240px;
  max-width: 420px;

  transform: scale(1.2);
  /* 放大一點 */
}

.shop-title-bg {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 5;

  font-size: 16vw;
  font-weight: 800;
  letter-spacing: 0.02em;
  color: #E83928;

  white-space: nowrap;
  pointer-events: none;
}

.shop-title-bg br {
  display: none;
}

.shop-corner-images {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;
}
.shop-corner-images img {
  width: 50vw;
  max-width: 1600px;
  min-width: 600px;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.shop-cta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* 水平靠右 */
  align-items: flex-end;
  /* 垂直靠下 */

  z-index: 10;
}

#shop .header,
#shop .main {
  position: relative;
  z-index: 10;
}

/* #endregion*/
/* #region===== Footer ===== */
.footer {
  background: #1a1a1a;
  padding: 24px 36px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer img {
  height: 48px;
  width: auto;
  object-fit: contain;
  padding: 5px;
  border-radius: 6px;
}

/* #endregion*/
/* #region===== 1024RWD ===== */
@media (max-width: 1024px) {
  .main {
    padding: 24px 120px;
  }
}

/* #endregion*/
/* #region===== 768RWD ===== */
@media (max-width: 768px) {
  .header {
    padding: 44px 20px;
  }

  .main {
    padding: 0px 60px 20px 60px;
  }

  /* 影片切換 */
  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }

  .visit-layout {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .visit-layout h1 {
    font-size: 28px;
  }

  .visit-left {
    display: contents;
  }

  .visit-title {
    order: 1;
  }

  .visit-right {
    order: 2;
  }

  .button-group {
    order: 3;
  }

  .visit-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pdf-box {
    width: 100%;
    max-width: 400px;
    height: 50vh;
    padding: 10px 20px;
  }

  .button-group {
    align-items: center;
    gap: 10px;
  }

  .side-menu {
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 100px;
  }

  .side-menu.active {
    top: 0;
  }

  /* footer */
  .footer {
    padding: 15px 20px;
  }

  .footer img {
    height: 36px;
    padding: 2px;
  }

  .shop-bg img {
    width: auto;
    height: 100%;
  }

  .shop-title-bg br {
    display: block;
  }

  .shop-title-bg {
    white-space: normal;
    text-align: center;
    font-size: clamp(40px, 30vw, 140px);
    line-height: 0.9;
    padding: 0 0 120px 0;
  }
  .top-right {
  top: -10px;
  right: -20px;
  text-align: right;
}

.bottom-left {
  bottom: -10px;
  left: -20px;
  text-align: left;
}
.shop-corner-images img {
  width: 80vw;
  max-width: 1600px;
  min-width: 600px;
}
.img-center {
  position: absolute;
  top: 65%;
  left: 50%;

  transform: translate(-50%, -50%);
}

}

/* #endregion*/


/* 外框卡片 */
.container {
  width: 90%;
  max-width: 520px;
  padding: 32px;
  border-radius: 12px;
  background: rgb(148, 148, 149);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* 標題 */
h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  text-align: center;
}

/* 每一組欄位 */
.form-group {
  margin-bottom: 16px;
}

/* label */
label {
  display: block;
  margin-bottom: 6px;
  color: #333333;
  font-size: 13px;
}

/* 輸入框 */
input,
select {
  width: 100%;
  padding: 12px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 15px;
  min-height: 42px;
  line-height: 1.4;
}

/* placeholder 顏色 */
::placeholder {
  color: #aaa;
}

/* 商品區 */
.product {
  margin-bottom: 10px;
  color: white;
}

/* +/- 按鈕 */
.product button {
  margin: 0 5px;
  padding: 3px 8px;
}

/* 金額顯示 */
.price-display {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #ffd700;
  margin-top: 4px;
}

/* 查詢門市按鈕 */
.store-search-btn {
  padding: 10px 12px;
  background: #f36404;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  white-space: nowrap;
}

.store-search-btn:hover {
  background: #333;
}

/* 送出按鈕 */
#submit-button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f36404;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

#submit-button:hover {
  background: #222;
}

/* loading 字 */
#loading-indicator {
  display: block;
  margin-top: 8px;
  font-size: 13px;
}